.about {
  background-color: #fff5f6;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: url(../images/about/about-mob-bg@1x_320x133px.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/about-mob-bg@2x_320x133px.png);
    }
    background-repeat: no-repeat;
    background-size: contain;

    background-position: bottom 100px center;
    // background-position: center;
    background-attachment: fixed;
    // background-attachment: scroll;
  }
  padding-top: 125px;
  padding-bottom: 20px;

  @media screen and (min-width: 1280px) {
    //
    background-image: url(../images/about/about-desk-bg@1x_1282x534px.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/about/about-desk-bg@2x_1282x534px.png);
    }
    background-repeat: no-repeat;
    background-size: contain;

    // background-position: bottom center;
    background-position: top;
    background-attachment: fixed;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 130px;
    padding-bottom: 33px;
  }
}

.about__head {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.about__pre-title {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 16px;
  }
}

.about__box {
  margin-top: 26px;
  @media screen and (min-width: 768px) {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 55px;
  }
}

.about__tumb {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
    // делим флекс пополам
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    margin-right: 74px;
  }
}
// картинка 100% контейнера
.about__image {
  width: 100%;
}
.about__right-box {
  // margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    width: 50%;
    padding: 0;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

.about__txt-wrapper {
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    padding: 0;
  }
}

.about__txt:not(:last-child) {
  margin-bottom: 19px;
  @media screen and (min-width: 767px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 27px;
  }
}

.about__text--bold {
  color: var(--text-black-color);
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.about__text--thin {
  color: var(--text-grey-color);
  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.62;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    // line-height: 1.62;
  }
}

.about__btn {
  @extend %btn-light;

  justify-content: center;
  align-items: center;
  // margin-top: 26px;
  min-width: 176px;
  min-height: 44px;
  border-radius: 22px;
  padding-left: 37px;
  padding-right: 38px;

  // text-align: center;

  @media screen and (min-width: 768px) {
    margin-top: 62px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}

.about__btn-txt {
  margin-right: 12px;
}

.icon-image {
  max-width: 8px;
  height: 10px;
}

.about__more {
  // margin-left: 10px;
  color: inherit;
}
