// Общий класссписков для родителя:
.card-set {
  display: flex;
  flex-wrap: wrap;
  // компенсируем отступы отр маржинами
  // - по макету общий размер отступов -30px(2*15)
  margin-left: -30px;
  margin-top: -30px;
}

// для ребенка
// формула от количества элементов
// n  - кол-во эл-тов в строке
// 30px - маржины элемента тут -(15px +15px)=30px
// значение n заносим в переменные --card-item: 1;
// flex-basis: calc(100% / var(--card-item) - 30px)
// потом в зависимости от @media, задаем в стилях значение переменной
//

.card-set_item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / var(--card-item) - 30px);
}
